/* Global part */
*{
    margin: 0;
    padding: 0;
    max-width: 1600px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
/* Header Part */
.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.91),rgba(255, 255, 255, 0.06)), url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 16px;
    justify-content: center;
    text-align: center;
    font-family: 'Merriweather', serif;
    margin: 50px 140px;

}
.banner-title{
    color: white;
    font-size: 32px;
    font-weight: 400;
    padding-top: 160px;
    margin-bottom: 16px;
}
.banner-description{
    color: white;
    font-size: 72px;
    font-weight: 900;
    width: 50%;
    margin: 0 auto;
}
/* Main Part */

/* 65% offer*/

.discount-offer{
    justify-content: center;
    text-align: center;
    font-family: Inter;
    margin: 100px 399px;

}
.offer-title{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    font-family: Inter;
    margin-bottom: 48px;
}
.offer-info{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.offer-info-2{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
/* Midnight-party */

.midnight-party{
    margin: 20px 140px;
    background: linear-gradient(90deg, black 0.8%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    display: flex;
    justify-content: space-around;
    gap: 40px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}
.party-title{
    color: white;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7px;
    margin: 126px 0 24px 126px;
}
.party-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 126px ;
    margin-bottom: 48px;
    width: 697px;
}
.join-now{
    background: none;
    border: none;
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 158px;
    cursor: pointer;
}
.join-now:hover{
    color: gold;
}
.party-img{
    margin: 68px 150px 0 0;
}